.borderBtn {
    position: relative;

    padding: 15px 35px;
    border: 2px solid $dark-green;

    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;

    color: $pre-black;

    transition: all $t-normal linear;

    &:before {
        @mixin wh 100%, 0;

        content: "";

        position: absolute;
        left: 0;
        top: auto; 
        bottom: 0;

        background-color: $dark-green;

        transition: all $t-normal linear;
        z-index: -1;
    }

    &:hover {
        color: $white;

        &:before {
            top: 0;

            height: 100%;
        }
    }
}