.header {
    @mixin pos-0 fixed;
    @mixin wh 100%, auto;

    background-color: $white;

    z-index: $z-over;

    &__logoGroup {
        @mixin flex-box row space-between center;

        text-transform: capitalize;

        @media (max-width: $mobile-point) {
            padding: 0 $p-normal;
            width: 100%;
        }
    }

    &__nav {
        @mixin flex-box row center center;

        text-transform: capitalize;
        font-weight: 600;
        white-space: nowrap;
        word-break: none;
        
        overflow: hidden;

        @media (max-width: $mobile-point) {
            flex-direction: column;
            height: 0;
        }
    }

    &__navItem {
        margin: 0 $m-normal;

        font-size: $pre-medium;
        letter-spacing: .05rem;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin: {
                bottom: 0;
            }
        }

        @media (max-width: $mobile-point) {
            margin: {
                bottom: $m-normal;
                left: 0;
                right: 0;
            }
        }
    }

    &__wrapper {
        @mixin flex-box row, space-between, center;
        @mixin wh 100%, auto;

        max-width: $m-size;
        padding: $p-15 $p-normal;
        margin: auto;

        font-family: 'Open Sans';

        @media (max-width: $mobile-point) {
            flex-direction: column;
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
    
}