.logo {
    @mixin wh 60px, 60px;

    transition: all $t-normal linear;

    @media (max-width: $mobile-point) {
        width: 50px;
        height: 50px;
    }

    &__img {
        @mixin wh 100%, 100%;

        display: block;

        object-fit: cover;
    }

    &:hover {
        opacity: .5;
    }
}