.viewList {
    @mixin flex-box column, center, center;
    @mixin wh 100%, auto;

    font-family: 'Open Sans', sans-serif;

    &__menu {
        @mixin flex-box row, center, center;
        flex-wrap: wrap;
        margin: {
            top: 15px;
            left: 15px;
        };

        & > button {
            margin: {
                bottom: 15px;
                right: 15px;
            }
        }
    }

    &__btn {
        margin-top: 70px;
    }
}